.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 80px 170px;
}

.skills-title {
  position: relative;
}

.skills-title h1 {
  font-weight: 600;
  font-size: 60px;
  padding: 0 30px;
  text-align: center;
  margin-top: 20px;
}

.skills-title img {
  position: absolute;
  bottom: 0;
  left: 50px;
  z-index: -1;
}

.about-skills {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
  transition: all 0.3s ease;
}

.about-skill {
  display: flex;
  align-items: center;
  gap: 50px;
  transition: all 0.3s ease;
}

.about-skill p {
  flex-shrink: 0;
  min-width: 150px;
  font-size: 24px;
  font-weight: 500;
}
.about-skill hr {
  outline: none;
  border: none;
  height: 8px;
  border-radius: 50px;
  background-image: linear-gradient(264deg, #df8908 -5.09%, #b415ff);
}

.about-achievements {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding-bottom: 10px;
}

.about-achievement {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transition: all 0.5s ease;
}

.about-achievement h1 {
  font-size: 60px;
  font-weight: 700;
  background-image: linear-gradient(264deg, #df8908 -5.09%, #b415ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-achievement p {
  font-size: 22px;
  font-weight: 500;
}

.about-skill:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.about-achievement:hover {
  transform: scale(1.12);
  transition: all 0.5s ease;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .skills {
    align-items: start;
    gap: 70px;
    margin: 20px 70px;
  }
  .skills-title h1 {
    font-size: 40px;
    padding: 0;
  }
  .skills-title img {
    width: 120px;
    right: -20px;
  }
  .about-skill {
    gap: 20px;
    align-items: center;
  }
  .about-skill p {
    font-size: 20px;
  }
  .about-skill hr {
    height: 6px;
  }
  .about-achievements {
    justify-content: space-between;
  }
  .about-achievement {
    gap: 10px;
  }
  .about-achievement h1 {
    font-size: 34px;
    font-weight: 700;
  }
  .about-achievement p {
    text-align: center;
    font-size: 16px;
  }
}
@media (max-width: 450px) {
  .skills {
    align-items: start;
    gap: 50px;
    margin: 20px 70px;
  }
  .skills-title h1 {
    font-size: 40px;
    padding: 0;
  }
  .skills-title img {
    width: 120px;
    right: -20px;
  }
  .about-skills {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
    width: 27rem;

    transition: all 0.3s ease;
  }

  .about-skill {
    gap: 20px;
    align-items: center;
  }
  .about-skill p {
    font-size: 20px;
  }

  .about-achievements {
    justify-content: space-between;
    gap: 1.8rem;
  }
  .about-achievement {
    gap: 10px;
  }
  .about-achievement h1 {
    font-size: 34px;
    font-weight: 700;
  }
  .about-achievement p {
    text-align: center;
    font-size: 16px;
  }
}
